@media only screen and (max-device-width: 1400px) {
    /*MAIN*/
    .naslov {
        font-size: 85px;
    }
    
    .img1 {
        width: 400px;
        height: 300px;
        transform: translate(-200px, -150px);
    }
    
    .img2 {
        width: 300px;
        height: 400px;
        transform: translate(-150px, -200px);
    }
    
    .img3 {
        width: 300px;
        height: 400px;
        transform: translate(-150px, -200px);
    }
    
    .img4 {
        width: 200px;
        height: 266px;
        transform: translate(-100px, -133px);
    }
    
    .box-2 {
        padding: 25px;
    }
    
    /*SECTION-1*/
    .section-1 {
        width: 100vw;
        height: 200vh;
        display: block;
    }

    .box-2 {
        top: 5%;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #a0a9b2;
        padding: 20px;
    }
    
    .text-intro {
        font-size: 25px;
    }
    
    .discussion{
        top: 30%;
        left: 65%;
        transform: translateX(-50%);
        width: 50%;
        display: flex;
        padding: 20px;
    }
    
    .text-discu {
        font-size: 22px;
        font-weight: 700;
    }
    
    .img-ara {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 266px;
    }
    
    .img-monkey {
        position: absolute;
        bottom: -9%;
        height: 400px;
        margin-top: 25%;
        margin-left: 10%;
    }
    
    .polygon-clip-1 {
        position: absolute;
        background-color: #ece0d9;
        width: 600px;
        height: 400px;
        right: 5%;
        top: 95%;
        transform: translateY(-400px);
    }
    
    
    /*SECTION-2*/
    .section-2 {
        height: 200vh;
    }
    
    .block-atina {
        position: absolute;
        width: 100%;
        left: 0;
        height: 50%;
        top: 5%;
    }
    
    .atina-forma {
        left: 50%;
        transform: translateX(-50%);
        background-size: cover;
    }

    .box-text {
        width: 80%;
        height: 40%;
        top: 50%;
        left: 50%;   
        right: 0;
        transform: translateX(-50%);
        padding: 45px;
        height: auto;
        display: flex;
    }

    .text-box-1 {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 22px;
    }
    
}


@media only screen and (max-device-width: 1200px) {
    /*MAIN*/
    .naslov {
        left: 20%;
        font-size: 50px;
    }
    
    .img1 {
        width: 300px;
        height: 225px;
        transform: translate(-150px, -112.5px);
    }
    
    .img2 {
        width: 225px;
        height: 300px;
        transform: translate(-112.5px, -150px);
    }
    
    .img3 {
        width: 225px;
        height: 300px;
        transform: translate(-112.5px, -150px);
    }
    
    .img4 {
        width: 150px;
        height: 199px;
        transform: translate(-75px, -50px);
    }
    
    
    @keyframes disappearToLeft {
        0% {
            transform: translateX(25%);
            opacity: 0;
        } 
        30% {
            transform: translateX(0);
            opacity: 1;
        }
        50% {
            transform: translateX(0);
            opacity: 1;
        }
        70% {
            transform: translateX(0);
            opacity: 1;
        }
        100% {
            transform: translateX(-25%);
            opacity: 0;
        }
    }
    
    /*SECTION-1*/

    .text-intro {
        font-size: 18px;
    }
    
    .discussion{
        padding: 10px;
    }
    
    .text-discu {
        font-size: 16px;
    }
    
    .img-ara {
        width: 177px;
    }
    
    .img-monkey {
        height: 266px;
        margin-top: 25%;
        margin-left: 10%;
    }
    
    .polygon-clip-1 {
        width: 500px;
        height: 300px;
        right: 5%;
        top: 95%;
        transform: translateY(-150%);
    }
    
    .circle-clip-1 {
        width: 200px;
        height: 200px;
    }
    
    /*SECTION-2*/
    
    
    .atina-forma {
        width: 800px;
        height: 448px;
    }

    .box-text {
        padding: 25px;
    }

    .text-box-1 {
        font-size: 18px;
    }
    
}

@media only screen and (max-device-width: 800px) {
    
    /*MAIN*/
    .naslov {
        top: 20%;
        font-size: 85px;
    }
    
    .img1 {
        width: 300px;
        height: 225px;
        top: 65%;
        transform: translate(-150px, -112.5px);
    }
    
    .img2 {
        width: 225px;
        height: 300px;
        top: 60%;
        transform: translate(-112.5px, -150px);
    }
    
    .img3 {
        width: 225px;
        height: 300px;
        top: 60%;
        transform: translate(-112.5px, -150px);
    }
    
    .img4 {
        width: 150px;
        height: 199px;
        top: 55%;
        transform: translate(-75px, -50px);
    }
    
    
    /*SECTION-1*/
    .section-1 {
        width: 100vw;
        height: 125vh;
        display: block;
    }

    
    .text-intro {
        font-size: 25px;
    }
    
    .discussion{
        padding: 20px;
    }
    
    .text-discu {
        font-size: 22px;
    }
    
    .img-ara {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 266px;
    }
    
    .img-monkey {
        position: absolute;
        bottom: -9%;
        height: 400px;
        margin-top: 25%;
        margin-left: 10%;
    }
    
    .polygon-clip-1 {
        width: 500px;
        height: 300px;
        right: 5%;
        top: 95%;
        transform: translateY(-250px);
    }
    
    /*SECTION-2*/
    .section-2 {
        height: 125vh;
    }
    
    .block-atina {
        top: 5%;
    }
    
    .atina-forma {
        width: 800px;
        height: 448px;
    }

    .text-box-1 {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 22px;
    }
    
    /*FOOTER*/
    footer {
        height: 20vh;
    }
    
    .info {
        left: 50%;
        margin-left: 0;
        transform: translateX(-50%);
    }
}


@media only screen and (max-device-width: 476px) {
    
    .naslov {
        text-align: left;
        font-size: 125px;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    
    .box1 {
        height: 55px;
        font-size: 30px;
    }
    
    .img1 {
        top: 70%;
        left: 40%;
        width: 600px;
        height: 450px;
        transform: translate(-50%, -50%);
    }
    
    .img2 {
        top: 50%;
        left: 30%;
        width: 450px;
        height: 600px;
        transform: translate(-50%, -25%);
    }
    
    .img3 {
        top: 60%;
        left: 70%;
        width: 450px;
        height: 600px;
        transform: translate(-50%, -50%);
    }
    
    .img4 {
        top: 65%;
        left: 50%;
        width: 300px;
        height: 400px;
        transform: translate(-50%, -50%);
    }
    
    
    /*SECTION-1*/
    
    .section-1 {
        width: 100vw;
        height: 125vh;
    }
    
    .box-2 {
        padding: 45px;
    }
    
    .text-intro {
        font-size: 30px;
    }
    
    .discussion{
        height: auto;
        padding: 45px;
        display: flex;
    }
    
    .text-discu {
        color: #ddd;
        font-size: 25px;
        font-weight: 700;
        text-align: left;
        text-transform: none;
        margin: auto;
    }
    
    .img-ara {
        width: 266px;
        left: 5%;
    }
    
    .img-monkey {
        bottom: -5%;
        left: 2%;
    }
    
    .polygon-clip-1 {
        width: 500px;
        height: 300px;
        right: 25%;
        top: 90%;
        transform: translateY(-75%);
    }
    /*SECTION-2*/
    .section-2 {
        height: 80vh;
    }
    .atina-forma {
        width: 900px;
        height: 506px;
    }

    .box-text {
        padding: 25px;
        top: 50%;
    }

    .text-box-1 {
        font-size: 26px;
    }
    /*FOOTER*/
    footer {
        height: 20vh;
    }
    
    .info {
        top: 50%;
        left: 50%;
        margin-left: 0;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-device-width: 374px) { 
    
    .naslov {
        text-align: right;
        font-size: 100px;
        top: 2.5%;
        right: 0%;
        transform: translate(-15%, 0%);
    }
    
    .box1{
        bottom: 5%;
    }
    
    .section-1 {
        height: 150vh;    
    }
    
    .polygon-clip-1 {
        display: none;
    }
    
    .circle-clip-1 {
        top: 40%;
    }
    
    .img-ara {
        top: 40%;
    }
    
    .box-2 {
        width: 90%;
        padding: 25px;
    }
    
    .text-intro {
        font-size: 28px;
    }
    
    .discussion{
        width: 60%;
        padding: 25px;
    }    
    
    .text-discu {
        font-size: 23px;
    }
    
    .section-2 {
        height: 110vh;
    }
    
    .atina-forma {
        width: 800px;
        height: 448px;
    }
    
    .box-text {
        width: 90%;
        top: 45%;
    }
    
    
    
}


